*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;

}

.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    transform: scale(1.1);
}

span{
    color: orangered;
}

.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active{
    color: orangered;
    border-bottom: 3px solid orangered;
}

.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}

.home{
    width: 100%;
    min-height: 100vh;
    /* background: rgb(241, 241, 241); */
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
    background-image: url(https://t3.ftcdn.net/jpg/02/91/21/72/360_F_291217289_ZGcJAjuxzvFLgGz7Z3X42HPysxNJwFfL.jpg);
}

.home-content{
    max-width: 800px;
}

.home-content h3{
    font-size: 42px;
}

.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}

.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}

.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}

.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.btn-2{
    padding: 15px 28px;
    background-color: orangered;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn-2:hover{
    background-color: white;
    color: orangered;
}

.img-box img{
    border-radius: 50%;
    width:380px;
    
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: orangered;
}

::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.6);
    width:50px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
    gap: 10em;
    background: url(https://t3.ftcdn.net/jpg/02/91/21/72/360_F_291217289_ZGcJAjuxzvFLgGz7Z3X42HPysxNJwFfL.jpg);
    /* background: black;  */
}

.about-img img{
    position: relative;
    width: 355px;
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered;
    border-radius: 50px;
}

.about-content h2{
    text-align: left;
    color: black;
    font-size: 42px;
}

.about content h3{
    font-size: 62px;
    color: white;
}

.about content p{
    color: rgb(33, 202, 11);
    font-size: 20px;
    margin: 2em 0 3em;
}

.skills-name ul{
    display:flex;
    width:90%;
    margin-left:40px;
    align-items:center;
    justify-content:space-between;
    list-style: none;
    height:650px;
    
}
.skills h2{
    text-align: center;
    color: orangered;
}


.skills-name li{
    padding:40px;
    
 }
 .skills-name li img{
    height:200px;
    width:200px;
    position: relative;
    margin-left:40px;
    border-radius:20%;
    border:3px solid rgb(104, 103, 103);
 }
 .skills-name li p{
    font-size:20px;
    font-family:cursive;
    position:relative;
    margin-top:20px;
    margin-left:15px;
    border:2px solid rgb(148, 145, 145);
    border-radius:4%;
    background-color: azure;
 }
 .skills-name span{
    font-size:30px;
    font-weight:bold;
 }

 .project-name ul{
    display: grid;
    grid-template-columns: auto auto ;
    padding: 20 px;
    list-style:none;
 }
 .project-name-item{
    padding:40px;
    background-color: rgba(227, 228, 235, 0.8);
    border: 1px solid rgba(144, 155, 191, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
    margin:20px 30px 20px 30px;
    border-radius: 4%;
    border: solid orangered;
}

.project-name-item a{
    text-decoration: none;
    text-transform: uppercase;
    border:2px solid orangered;
    border-radius:10%;
    background-color: orangered;
    padding:4px;
    font-size:15px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    bottom:0;
    color:rgb(26, 25, 25);
}

 .resume-link{
    margin:20px 200px 0px 200px;
    height:400px;
    background-color: rgb(210, 208, 205);
    border-radius:15%;
    border:4px solid orangered;
    padding-top:100px;
    background-image: url(https://i.pinimg.com/474x/2e/15/3c/2e153cdb40de6a9d6e417d639ebe2f28.jpg);
 }

 .resume-link a{
    position :relative;
    margin-left:320px;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    border:2px dotted rgb(28, 27, 27);
    border-radius:20px;
    padding:10px 30px 10px 30px;
    background-color:antiquewhite;
    text-transform:uppercase ;

}

.resume-link a:hover{
    background-color: rgb(219, 237, 222);
    padding:12px 32px 12px 32px;
}

.contact-form{
    background-color: rgb(231, 223, 223);
}

.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}

.contact-form form{
    max-width: 50em;
    margin: 1em auto;
    text-align: center;
    margin-bottom: 3em;
}

.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb(241,241,241);
    border-radius: 0.8em;
    margin: 1rem 0;
    resize: none;
    
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid orangered;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    margin: 0 8px;
    box-shadow: inset 0 0 10px orangered 0 0 10px orangered;
    transition: 0.3s ease;
}

.footer .social a:hover{
    transform: scale(1,2)translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;

}

.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}